body{
    background-color: rgb(104, 139, 184);
    font-family: 'Source Sans Pro', 'Sans Serif';
    color: white;
}

h1,h3 {
    text-align: center;
}

div.divnome{
    text-align: center;
}

div.divnotas{
    text-align: center;
}

.pNomeMedia{
    font-weight: bold;
    color: rgb(255, 196, 157);
}

.pAprovado{
    font-weight: bold;
    color: greenyellow;
    font-style: italic;
}

.pReprovado{
    font-weight: bold;
    color: red;
    font-style: italic;
}